.answers, .buttons {
    display: table;
    margin: 0 auto
}

#next, #back {
    display: inline-block;
    margin: 2px;
    table-layout: fixed;
    border-collapse: collapse
}

input[type=radio] {
    float: left;
    margin-left: -20px;
    margin-top: 4px
}

.question {
    text-align: center
}

.quiz {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto
}

.loginForm {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
    background: white
}

#loginButton, #goRegister, #register, #cancel {
    width: 10%;
    table-layout: fixed;
    border-collapse: collapse
}

.registrationForm, .succeed, .greetings {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
    background: white
}

.logoff {
    display: none;
    position: fixed;
    right: 10px;
    top: 5px;
    text-align: center
}

.red {
    color: red
}

.blue {
    color: blue
}

.green {
    color: green
}



